{# themes/contrib/jfm_theme/templates/layout/page.html.twig #}

<header class="bg-white shadow">
  <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
    {% if page.header %}
      {{ page.header }}
    {% endif %}
  </div>
</header>

<main id="main-content" class="py-10">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    {{ page.content }}
  </div>
</main>

<footer class="mt-10 bg-gray-100">
  <div class="px-4 py-6 mx-auto text-sm text-center text-gray-600 max-w-7xl">
    &copy; {{ "now"|date("Y") }} JFM Digital Works
  </div>
</footer>
